ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="05ac", ATTR{product}=="Apple Keyboard", TAG+="systemd", ENV{SYSTEMD_WANTS}="kb-AppleUSB.service"
ACTION=="remove", SUBSYSTEM=="usb", ENV{PRODUCT}=="5ac/*", RUN+="/usr/local/bin/kb-appleusb-toggle.sh"
